<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
        <link href="css/stylesheet.css" rel="stylesheet">
        <link href="css/rightside.css" rel="stylesheet">
        <title>Mensaplan</title>
    </head>
    <body>
        <header>
            <div class="nav-absolute">
                <a class="brand-left" href="/">
                    <img src="img/logo.png" width="50" height="50" alt="Die Karotte">
                </a>
                <ul>
                    <li><a href="/plaene">Pläne</a></li>
                    <li><a href="/vorschlage">Vorschlag</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                </ul>
            </div>
                <a class="login-right" href="/login">
                    <img src="img/login.jpg" width="50" height="50" alt="Login-Button">
                </a>
        </header>
        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 left-h">
                        <div class="col-lg-10 mx-auto">
                            <div class="space">
                                    <table class="table">
                                            
                                            <tbody>
                                              <tr>
                                                <th scope="row">Gericht1</th>
                                                <th scope="row"><%= mit[0].gericht%></th>
                                                <th scope="row"><%= mit[0].preis%>€</th>
                                                <th scope="row"><%= mit[0].eigenschaft%></th>
                                              </tr>
                                              <tr>
                                                <th scope="row">Gericht2</th>
                                                <th scope="row"><%= mit[1].gericht%></th>
                                                <th scope="row"><%= mit[1].preis%>€</th>
                                                <th scope="row"><%= mit[1].eigenschaft%></th>
                                              </tr>
                                              <tr>
                                                <th scope="row">Gericht3</th>
                                                <th scope="row"><%= mit[2].gericht%></th>
                                                <th scope="row"><%= mit[2].preis%>€</th>
                                                <th scope="row"><%= mit[2].eigenschaft%></th>
                                              </tr>
                                            </tbody>
                                    </table>
                                    <a href="/plaene" class="btn btn-primary float-right" title="Pläne">zurück</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 right-h p-0">
                        <div class="right-side"></div>
                    </div>
                </div>
            </div>
        </main>
        </div>
        <footer>
            <ul>
                <li><a href="/impressum">Impressum</a></li>
                <li><a href="/datenschutz">Datenschutz</a></li>
            </ul>
        </footer>
        <div class="container"></div>

        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>